.login-container {
    width: 350px;
    margin: 150px auto;
    padding: 30px;
    background: #5dc6e6;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    text-align: center;
  }
  
  .login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px;
  }
  
  .login-container button {
    padding: 10px 20px;
    margin: 10px;
    background: hwb(208 31% 0%);
    color: white;
    border: none;
  }
  